@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
.btn {
    font-family: 'Oswald', sans-serif;
}

.title {
    color: #002b60;
    font-size: 2.75rem;
    margin-bottom: 50px;
}

.sub-title {
    color: #002b60;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 50px;
}

.btn-check:focus + .btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-check:active + .btn-light:focus,
.btn-check:checked + .btn-light:focus,
.btn-light.active:focus,
.btn-light:active:focus,
.show > .btn-light.dropdown-toggle:focus {
    box-shadow: none;
}
/* ========================================
                Header Style
=========================================== */
header {
    position: relative;
    background: #00a5fe;
    overflow: hidden;
    z-index: 0;
}

header::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 400px;
    width: 30%;
    transform: rotate(-30deg) translate(15px, -150px);
    background-color: #002b60;
    z-index: -1;
}

.navbar-expand-lg .navbar-nav {
    gap: 15px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

/* ========================================
                Hero Style
=========================================== */
.hero {
    height: calc(100vh - 85px);
    width: 100%;
    background: url('../img/hero.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 0;
}

.hero::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        90deg,
        rgba(0, 43, 96, 0.9),
        rgba(0, 43, 96, 0.4)
    );
    z-index: -1;
}

.hero h1 {
    color: #ffffff;
    font-size: 3.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero .btn {
    color: #002b60;
    font-size: 17px;
    font-weight: 500;
    padding: 12px 28px;
}

.hero .btn-primary {
    font-size: 17px;
    color: #fff !important;
    background-color: #00a5fe !important;
    border-color: #00a5fe !important;
}

/* ========================================
                Servies Style
=========================================== */
.services {
    padding: 100px 0;
    position: relative;
    background: #fefefe;
    z-index: 0;
}

.services::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: #ebf8ff;
    z-index: -1;
}

.services .item {
    padding: 30px 20px;
    background: #002b60;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.075);
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.services .item::before {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    background: #00a5fe;
    height: 180px;
    width: 180px;
    transform: translate(50%, -50%);
    transition: all 0.4s;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
}

.services .item:hover::before {
    opacity: 1;
    transform: scale(3.5);
    transition: all 0.4s;
}

.services .item img {
    height: 50px;
    margin-bottom: 15px;
}

.services .item h4 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.25px;
    margin: 0;
}

/* ========================================
              Call to Action Style
=========================================== */
.call-to-action {
    padding: 50px 0;
    background-color: #002b60;
}

.call-to-action .group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-to-action .group h2 {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.25px;
    margin-bottom: 0;
}

.call-to-action .btn {
    color: #002b60;
    font-size: 17px;
    padding: 12px 28px;
    font-weight: 500;
}

/* ========================================
              Speciality Style
=========================================== */
.speciality {
    padding: 100px 0;
    position: relative;
    background: #fefefe;
    z-index: 0;
}

.speciality::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: #ebf8ff;
    z-index: -1;
}

.speciality .item {
    color: #ffffff;
    background: #002b60;
    border-radius: 10px;
    padding: 20px 25px;
}

.speciality .item h5 {
    margin: 0;
    letter-spacing: 0.5px;
}

/* ========================================
                Requirement
=========================================== */
.requirement {
    padding: 100px 0;
    background: #002b60 url('../img/bg.jpg') no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}

.requirement::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        90deg,
        rgba(0, 43, 96, 1),
        rgba(0, 43, 96, 0.9),
        rgba(0, 43, 96, 0.8),
        rgba(0, 43, 96, 0.6)
    );
    z-index: -1;
}

.requirement h2 {
    color: #ffffff;
    font-size: 2.75rem;
    margin-bottom: 25px;
}

.requirement ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.requirement li {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.25px;
    position: relative;
    padding-left: 30px;
}

.requirement li::before {
    position: absolute;
    top: 1px;
    left: 0;
    content: '';
    height: 20px;
    width: 24px;
    background: url('../img/icons/check.png') no-repeat 0 0;
    background-size: contain;
}

/* ========================================
                Contact
=========================================== */
.enquiry {
    padding: 115px 0 100px;
}

.enquiry .title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact {
    padding: 35px 35px 30px 35px;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.075);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.contact .form-control {
    color: #002b60;
    font-weight: 300;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 2px;
}

.contact label {
    color: #1b5192;
    font-weight: 300;
    letter-spacing: 1px;
}

.contact button {
    padding: 12px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2px;
    border: none;
    background: #002b60;
    transition: all 0.3s;
}

.contact button:hover {
    background: #00a5fe;
    transition: all 0.3s;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext {
    padding: 0.75rem;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
    height: 3rem;
    line-height: 1.25;
}

.form-floating > label {
    padding: 0.75rem;
}

.form-control:focus {
    color: #002b60;
    background-color: transparent;
    border-color: rgba(0, 43, 96, 0.5);
    outline: 0;
    box-shadow: none;
}

.contact span {
    font-size: 16px;
    color: #f00000;
    margin-top: 5px;
    display: none;
}

.infos {
    color: #fafafa;
    background: #002b60;
    padding: 50px 45px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.infos a {
    color: #fafafa;
    text-decoration: none;
}

.infos h4 {
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin-bottom: 25px;
}

.infos p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.infos strong {
    font-weight: 500;
    letter-spacing: 1px;
}

/* ========================================
                Footer
=========================================== */
footer {
    padding: 32px 0;
    background: #002b60;
    text-align: center;
}

footer p {
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0;
}

/* ========================================
                Responsive
=========================================== */
@media screen and (max-width: 991.98px) {
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    header::before {
        width: 60%;
        height: 800px;
        border-radius: 10%;
    }

    .navbar-dark .navbar-toggler {
        color: rgb(255, 255, 255);
        border-color: #002b60;
        background: #002b60;
    }

    .navbar-expand-lg .navbar-nav {
        gap: 0;
        margin: 10px 0;
    }

    .nav-link {
        padding: 0.3rem 1rem;
    }

    .hero {
        text-align: center;
    }

    .hero h1 {
        font-size: 2.6rem;
        font-weight: 600;
    }

    .title,
    .requirement h2 {
        font-size: 2.2rem;
        font-weight: 600;
    }

    .sub-title {
        font-size: 1.4rem;
    }

    .services .item h4 {
        font-size: 17px;
    }

    .call-to-action .group h2 {
        font-size: 1.8rem;
    }

    .contact {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .infos {
        border-top-right-radius: 0;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .infos p {
        font-size: 16px;
    }
}

@media screen and (max-width: 767.98px) {
    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding-right: 20px;
        padding-left: 20px;
    }

    header::before {
        width: 95%;
        height: 770px;
    }

    .navbar-brand img {
        height: 40px;
    }

    .hero h1 {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .hero .btn {
        font-size: 15px;
        padding: 10px 20px;
    }

    .hero {
        max-height: 420px;
    }

    section {
        padding: 70px 0 !important;
    }

    .services .d-flex,
    .speciality .d-flex {
        flex-direction: column;
    }

    .services .title,
    .speciality .title {
        margin-bottom: 15px;
    }

    .title,
    .requirement h2,
    .enquiry .title {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .sub-title {
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .sub-title img {
        height: 30px;
    }

    .speciality .sub-title img {
        height: 24px;
        margin-top: 5px;
    }

    .call-to-action {
        padding: 50px 0 !important;
    }

    .call-to-action .group {
        display: flex;
        align-items: center;
        justify-content: space-center;
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }

    .call-to-action .group h2 {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .call-to-action .group h2 br {
        display: none;
    }

    .call-to-action .btn {
        font-size: 15px;
        padding: 10px 20px;
    }

    .speciality .item h5 {
        font-size: 1rem;
        text-align: center;
        letter-spacing: 0.5px;
        margin: 0;
    }

    .requirement li {
        font-size: 16px;
    }

    .contact {
        padding: 25px 25px 25px 25px;
    }

    .form-floating > label {
        font-size: 14px;
    }

    .infos {
        padding: 35px 25px 30px;
    }

    .infos h4 {
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .infos p {
        font-size: 15px;
        margin-bottom: 12px;
    }

    footer {
        padding: 20px 0;
    }

    footer p {
        font-size: 14px;
    }
}
