@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
.btn {
    font-family: 'Oswald', sans-serif;
}

.title {
    color: #002b60;
    font-size: 2.75rem;
    margin-bottom: 50px;
}

.btn-check:focus + .btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-check:active + .btn-light:focus,
.btn-check:checked + .btn-light:focus,
.btn-light.active:focus,
.btn-light:active:focus,
.show > .btn-light.dropdown-toggle:focus {
    box-shadow: none;
}
/* ========================================
                Header Style
=========================================== */
header {
    position: relative;
    background: #00a5fe;
    overflow: hidden;
    z-index: 0;
}

header::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 400px;
    width: 30%;
    transform: rotate(-30deg) translate(15px, -150px);
    background-color: #002b60;
    z-index: -1;
}

.navbar-expand-lg .navbar-nav {
    gap: 15px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

/* ========================================
                Hero Style
=========================================== */
.hero {
    height: calc(100vh - 85px);
    width: 100%;
    background: url('../img/hero.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 0;
}

.hero::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        90deg,
        rgba(0, 43, 96, 0.9),
        rgba(0, 43, 96, 0.4)
    );
    z-index: -1;
}

.hero h1 {
    color: #ffffff;
    font-size: 3.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero .btn {
    color: #002b60;
    font-size: 17px;
    font-weight: 500;
    padding: 12px 28px;
}

.hero .btn-primary {
    font-size: 17px;
    color: #fff !important;
    background-color: #00a5fe !important;
    border-color: #00a5fe !important;
}

/* ========================================
                Servies Style
=========================================== */
.services {
    padding: 100px 0;
    position: relative;
    background: #fefefe;
    z-index: 0;
}

.services::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: #ebf8ff;
    z-index: -1;
}

.services .item {
    padding: 30px 20px;
    background: #002b60;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.075);
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.services .item::before {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    background: #00a5fe;
    height: 180px;
    width: 180px;
    transform: translate(50%, -50%);
    transition: all 0.4s;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
}

.services .item:hover::before {
    opacity: 1;
    transform: scale(3.5);
    transition: all 0.4s;
}

.services .item img {
    height: 50px;
    margin-bottom: 15px;
}

.services .item h4 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.25px;
    margin: 0;
}

/* ========================================
              Call to Action Style
=========================================== */
.call-to-action {
    padding: 50px 0;
    background-color: #002b60;
}

.call-to-action .group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-to-action .group h2 {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.25px;
    margin-bottom: 0;
}

.call-to-action .btn {
    color: #002b60;
    font-size: 17px;
    padding: 12px 28px;
    font-weight: 500;
}

/* ========================================
              Speciality Style
=========================================== */
.speciality {
    padding: 100px 0;
    position: relative;
    background: #fefefe;
    z-index: 0;
}

.speciality::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: #ebf8ff;
    z-index: -1;
}

.speciality .item {
    color: #ffffff;
    background: #002b60;
    border-radius: 10px;
    padding: 20px 25px;
}

.speciality .item h5 {
    margin: 0;
    letter-spacing: 0.5px;
}
